<div class="margin-bottom-20 ">
    <button id="btn-load-more" type="button" class="btn btn-sm btn-lg btn-block">点击加载更多</button>
</div>

<script>
    var PAGE_SIZE = 5
    var PAGE_INDEX = 0
    var COUNT = 7
    var $btnLoadMore = $('#btn-load-more')
    var $containerWeiboList = $('<%= containerSelector%>')
    var api = '<%= api%>'

    // // 加载更多
    $btnLoadMore.click(function () {
        var nextPageIndex = PAGE_INDEX + 1
        ajax.get(api + '/' + nextPageIndex, function (err, data) {
            console.log(data)
        })
    })
</script>